@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Jost:ital,wght@0,100..900;1,100..900&family=Kalnia+Glaze:wght@100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,500;1,500&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Urbanist,system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #FFE5B4;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.btnGrp{
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
.container{
    margin: 0 auto;
    height: 18rem;
    width: 18rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.2rem;
    padding: 0.2rem;
    background-color: #ffa500;
}
.cell{
    border: 1px solid black;
    background-color: #FFD580;
    border-radius: 2px;
    font-family: Roboto;
    font-size: medium 500;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
img{
    width: 2rem;
    height: 2rem;
}
.result{
    text-align: center;
    font-size: 1rem;
    margin-top: 0.3rem;
    font-weight: 500;
    padding-top: 0.8rem;
    height: 1.5rem;
}